<h1>Listing service_areas</h1>

<table>
  <thead>
    <tr>
      <th>Lat</th>
      <th>Long</th>
      <th>Scope</th>
      <th>Radi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_areas.each do |service_area| %>
      <tr>
        <td><%= service_area.lat %></td>
        <td><%= service_area.long %></td>
        <td><%= service_area.scope %></td>
        <td><%= service_area.radi %></td>
        <td><%= link_to 'Show', service_area %></td>
        <td><%= link_to 'Edit', edit_service_area_path(service_area) %></td>
        <td><%= link_to 'Destroy', service_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service area', new_service_area_path %>
