
  <br><br>
    <center><h2>Solar Data</h2><center>
    <br>
  <center>
    
    <input id="latlng" type="text" placeholder="City" class="pure-input-1-2"><br><br>
    <button id="drop" onclick="showTweets()" class="pure-button pure-input-1-2 pure-button-primary">Search</button>
  </center>
    <br><br><br>


<div id="tweetResults" hidden>

  <center><h2>Recent Tweets in Miami,FL</h2></center>

  <center>
    <table class="pure-table pure-table-horizontal">
      <thead>
        <tr>
          <th><center><%= image_tag "twitter-icon.png", style:"max-width: 1.7em; height: auto; margin-left: 1em" %></center></th>
          <th><center><img src="http://clipartsign.com/upload/2016/02/17/green-dollar-sign-clipart-free-clipart-images.png" height="22px"> <br>$/kWh</center></th>
          <th><center><img src="http://images.clipartpanda.com/sun-clipart-transparent-background-dcrGpaBc9.gif" height="25px"> <br>kWh/m2/day</center></th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>

      <% i = 0 %>
        <% @tweetText.each do |tweet| %>
        <% outText = tweet.gsub(/[@]\S*/, '') %>

          <tr>
            <td><a href="https://twitter.com/<%= @tweetUrl[i] %>" target="_blank"><%= outText %></a></td>
            <td><center><%= number_to_currency @response[rand(0..2)]["outputs"]["residential"] %><center></td>
            <td><center><%= @sunData[rand(0..3)]["outputs"]["avg_dni"]["annual"] %></center></td>
          </tr>
          <% i = i + 1 %>
        <% end %>

      </tbody>
    </table>
  </center>

</div>

<br><br><br>


<script>

  function showTweets(){
    $("#tweetResults").removeAttr("hidden");
  }

</script>