
<%= form_for @customer, :html => {:class => "pure-form"} do |f| %>
<% if @customer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

    <ul>
    <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

 
<!-- <div class="field">
 <%#= f.label :name, class: ('pure-input-1-2') %><br>
  <input type="text" class="pure-input-1-2" placeholder="Username">
 --> 
<fieldset class="pure-group">
  <%= f.text_field :name, class: ('pure-input-1-2'), placeholder: "Username" %>

  </fieldset>

<fieldset class="pure-group">
  <%= f.text_field :email, class: ('pure-input-1-2'), placeholder: "Email" %>
 </fieldset>

<!-- <div class="field">
  <%#= f.label :username %><br>
  <%#= f.text_field :username %>
</div> -->

<fieldset class="pure-group">
  <%= f.password_field :password, class: ('pure-input-1-2'), placeholder: "Password" %>
 </fieldset>

<fieldset class="pure-group">
  <%= f.password_field :password_confirmation, class: ('pure-input-1-2'), placeholder: "Password Confirmation" %>
 </fieldset>

<!-- <fieldset class="pure-group">
  <%#= f.text_field :Lat, class: ('pure-input-1-2'), placeholder: "Lat" %>
 </fieldset>
<fieldset class="pure-group">
  <%#= f.text_field :Lan, class: ('pure-input-1-2'), placeholder: "Username" %>
 </fieldset> -->


  <%= f.submit class: "pure-button pure-input-1-2 pure-button-primary" %>


<% end %>
