<div id='search-logo'>
<h2>SunnySide</h2>
</div>

<div id='main'>
<header>Contractor Search</header>

<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this contractor from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <div id="scope_box">
  <%= f.label "Property Type" %><br>
  <%= f.check_box :scope %>
  <%= f.label :scope, 'Single Family', :value => 'Single Family' %> <br>
  <%= f.check_box :scope %>
  <%= f.label :scope, 'Duplex, Triplex, Quadraplex', :value => 'Duplex, Triplex, Quadraplex' %><br>
  <%= f.check_box :scope %>
  <%= f.label :scope, 'Multifamily', :value => 'Multifamily' %><br>
</div>
</div>

  <% end %>
  <div id="floating-panel">
  <input id="latlng" type="text" value="">
    <button id="drop" onclick="drop()">Find Me NOW</button>
  </div>
</div> 

<div id="map"></div>
    <script>

      // If you're adding a number of markers, you may want to drop them on the map
      // consecutively rather than all at once. This example shows how to use
      // window.setTimeout() to space your markers' animation.

      var neighborhoods = [
        {lat: 26.1539716,	lng: -80.1700725},
        {lat: 26.137129, lng: -80.113431},
        {lat: 26.0869349	, lng: -80.1442469},
        {lat: 26.1660706	, lng: -80.1029442},
        {lat: 26.1677402, lng:	-80.1083216},
        {lat: 26.180269, lng:	-80.133393},
        {lat: 26.1802643, lng:	-80.1335778},
        {lat: 26.1919383, lng:	-80.1571622},
        {lat: 26.1870068, lng:	-80.1328931},
        {lat: 26.0849181, lng:	-80.1870155}
      ];

      var markers = [];
      var map;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 26.1343736, lng: -80.1484297}
        });
      }

      function drop() {
        clearMarkers();
        for (var i = 0; i < neighborhoods.length; i++) {
          addMarkerWithTimeout(neighborhoods[i], i * 200);
        }
      }

      function addMarkerWithTimeout(position, timeout) {
        window.setTimeout(function() {
          markers.push(new google.maps.Marker({
            position: position,
            map: map,
            animation: google.maps.Animation.DROP
          }));
        }, timeout);
      }

      function clearMarkers() {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(null);
        }
        markers = [];
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqe8yyumuH7IeEjNPgHpflzULL9NnXulE&callback=initMap">
    </script>

<div id='main'>
<% @contractors.each do |mapthis| %>
  <%= mapthis.name %><br>
  <%= mapthis.address %><br>
  <%= mapthis.scope %><br>
  <%= number_to_phone(mapthis.phone) %><br>
  <%= mapthis.email %><br>
  <%= '___________' %><br>
</div>
<% end %>
