
<!-- <div id='main'> -->
<br>
<center><h1 style="margin-bottom:0px;">Find Your Contractor</h1></center>

<center><%= form_for @customer, :html => {:class => "pure-form"} do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this contractor from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form class="pure-form pure-form-stacked">
<!--   <div id="scope_box" style="margin:auto">
 -->  <h3><label for="scope">Property Type</label></h3>
        <select id="scope">
            <option></option>
            <option>Single Family</option>
            <option>Duplex, Triplex, Quadraplex</option>
            <option>Multifamily</option>
        </select>

</div>
  <% end %>
</form>


  <input id="latlng" type="text" placeholder="Address" class="pure-inpu t-1-2"><br><br>
    <button id="drop" onclick="" class="pure-button pure-input-1-2 pure-button-primary">Find Contractor</button>
    <br><br>

<div hidden>

  <div id="customerLat">
    <%= @customer.Lat %>
  </div>

  <div id="customerLan">
    <%= @customer.Lan %>
  </div>

  <div id="contractorLats">
    <%=  Customer.contractorLats(@contractors)%>
  </div>

  <div id="contractorLngs">
    <%=  Customer.contractorLngs(@contractors)%>
  </div>

</div>
</center>


<div id="map"></div>
<script>

  // If you're adding a number of markers, you may want to drop them on the map
  // consecutively rather than all at once. This example shows how to use
  // window.setTimeout() to space your markers' animation.

  var customerLat = parseFloat($('#customerLat').text());
  var customerLan = parseFloat($('#customerLan').text());

  var neighborhoods = [];

  var markers = [];
  var map;

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 9,
      scrollwheel: false,
      center: {lat: customerLat, lng: customerLan}
    });

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        window.pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        // infoWindow.setPosition(pos);
        // infoWindow.setContent('Hi !');
        map.setCenter(pos);
        drop()

      // function populateField (){


        $('#customerLat').val(pos.lat);
        $('#customerLan').val(pos.lng);
      // };
      console.log(pos);

      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }

    var geocoder = new google.maps.Geocoder();

    document.getElementById('drop').addEventListener('click', function() {

      geocodeAddress(geocoder, map);
      $.ajax("/customers/1");
      drop();
    });
 
    // drop()
  }

//-----------------------
  
  function geocodeAddress(geocoder, resultsMap) {
    var address = document.getElementById('latlng').value;
    geocoder.geocode({'address': address}, function(results, status) {
      if (status === google.maps.GeocoderStatus.OK) {
        resultsMap.setCenter(results[0].geometry.location);

        console.log(results[0].geometry.location.lat());
        console.log(results[0].geometry.location.lng());

        var customerLatUpdate = results[0].geometry.location.lat();
        var customerLngUpdate = results[0].geometry.location.lng();

        $('#customerLat').val(customerLatUpdate);
        $('#customerLan').val(customerLngUpdate);

      } else {
        alert('Sorry not able to find you for the following reason: ' + status);
      }
    });


  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
                          'Error: The Geolocation service failed.' :
                          'Error: Your browser doesn\'t support geolocation.');
  }

//-------------------------------------------

  // function calcDist() {
  //   var latsList = $("#contractorLats").html();
  //   latsList2 = latsList.split(",");
  //   var output = [];
  //   console.log(latsList2);
  //   latsList2.forEach(function(callback, thisArg){
  //     console.log(thisArg);
  //   });
  // }

  function drop() {
    // calcDist();
    // location.reload();
    deleteMarkers();  
  	neighborhoods = [];
  	var latOutput = [];
  	var lngOutput = [];
    $(".resultsLat").each(function(){
    	latOutput.push(parseFloat($(this).html()))
    });
    $(".resultsLng").each(function(){
    	lngOutput.push(parseFloat($(this).html()))
    });
    for (var x = 0; x < latOutput.length; x++) {
    neighborhoods.push({lat: latOutput[x],	lng: lngOutput[x]});
    }
    for (var i = 0; i < neighborhoods.length; i++) {
      addMarkerWithTimeout(neighborhoods[i], i * 200);
    }
  }

  function addMarkerWithTimeout(position, timeout) {
    window.setTimeout(function() {
      markers.push(new google.maps.Marker({
        position: position,
        map: map,
        animation: google.maps.Animation.DROP
      }));
    }, timeout);
  }

  function deleteMarkers() {
    clearMarkers();
    markers = [];
  }

  function clearMarkers() {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(null);
    }
    markers = [];
  }

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqe8yyumuH7IeEjNPgHpflzULL9NnXulE&callback=initMap">
</script>

<% results = Customer.searchResults(@customer, @contractors) %>

<center><div id='main'>
  <br>

  <h3>Nearby Solar Contractors</h3>

  <table class="pure-table pure-table-horizontal">
      <thead>
          <tr>
              <th>Name</th>
             
              
              <th>Contact</th>
              
          </tr>
     </thead>
      <tbody>
          <tr>
          <% results.each do |mapthis| %>
          <td><%= mapthis[:name] %></td>
          <td><%= number_to_phone(mapthis[:phone]) %> </td>
        </tr>
   <% end %>
  </tbody>
  </table>

  <div id="customerLat" hidden>
    <%= @customer.Lat %>
  </div>
  <div id="customerLan" hidden>
    <%= @customer.Lan %>
  </div>

  <% search = true %>
  	<% results.each do |mapthis| %>

  	  <div class="resultsLat" hidden>
  	    <%= mapthis[:Lat] %>
  	  </div>
  	  <div class="resultsLng" hidden>
  	    <%= mapthis[:Lng] %>
  	  </div>
  	<% end %>

</div></center>
<!-- </div> -->
<br><br>




