<%= form_for @contractor, :html => {:class => "pure-form"} do |f| %>
  <% if @contractor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contractor.errors.count, "error") %> prohibited this contractor from being saved:</h2>

      <ul>
      <% @contractor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="pure-group">
    <%= f.text_field :name, class: ('pure-input-1-2'), placeholder: "Name",style:"margin-left: 16vw" %>
  </fieldset>
  
  <fieldset class="pure-group">
    <%= f.text_field :email, class: ('pure-input-1-2'), placeholder: "Email",style:"margin-left: 16vw" %>
   </fieldset> 
  <!-- <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div> -->
  <fieldset class="pure-group">
    <%= f.password_field :password, class: ('pure-input-1-2'), placeholder: "Password",style:"margin-left: 16vw" %>
  </fieldset>
  <fieldset class="pure-group">
    <%= f.password_field :password_confirmation, class: ('pure-input-1-2'), placeholder: "Password Confirm",style:"margin-left: 16vw" %>
  </fieldset>
 
   <fieldset class="pure-group">
    <%= f.text_field :address, class: ('pure-input-1-2'), placeholder: "Address",style:"margin-left: 16vw"  %>
    
 
    <input id="submit" type="button" value="Go Get Me" class="pure-button pure-input-1-2 pure-button-primary" style="margin-left: 16vw" >

   </fieldset>  

  <div>
    <%= f.label :Lat %><br>
    <%= f.text_field :Lat  %>
  </div>
  <div>
    <%= f.label :Lng %><br>
    <%= f.text_field :Lng  %>
  </div>
  <!-- <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div> -->
  <div class="prop-serviced">
    <strong><%= f.label "Type of Properties Serviced", style:"left:16vw" %></strong><br>
    <%= f.check_box :scope %>
    <%= f.label :scope, 'Single Family', :value => 'Single Family' %> <br>
    <%= f.check_box :scope %>
    <%= f.label :scope, 'Duplex, Triplex, Quadraplex', :value => 'Duplex, Triplex, Quadraplex' %><br>
    <%= f.check_box :scope %>
    <%= f.label :scope, 'Multifamily', :value => 'Multifamily' %><br>
    <!-- <%= f.radio_button :scope, 'Mulifamily' %>
    <%= f.label :scope, 'Mulifamily', :value => 'Mulifamily' %><br> -->
  </div>

    <%= f.submit 'Add me or whatever', :id => 'submit_edit', class: "pure-button pure-input-1-2 pure-button-primary", style:"margin-left: 16vw" %>

<% end %>

