<%= form_for(@contractor) do |f| %>
  <% if @contractor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contractor.errors.count, "error") %> prohibited this contractor from being saved:</h2>

      <ul>
      <% @contractor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <!-- <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div> -->
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.label :address %><br>
    <input id="address" type="textbox" value="">
    <input id="submit" type="button" value="Go Get Me">
  </div>

  <div>
    <%= f.label :Lat %><br>
    <%= f.text_field :Lat  %>
  </div>
  <div>
    <%= f.label :Lng %><br>
    <%= f.text_field :Lng  %>
  </div>
  <!-- <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div> -->
  <div class="field">
    <%= f.label "Properties Serviced" %><br>
    <%= f.check_box :scope %>
    <%= f.label :scope, 'Single Family', :value => 'Single Family' %> <br>
    <%= f.check_box :scope %>
    <%= f.label :scope, 'Duplex, Triplex, Quadraplex', :value => 'Duplex, Triplex, Quadraplex' %><br>
    <%= f.check_box :scope %>
    <%= f.label :scope, 'Multifamily', :value => 'Multifamily' %><br>
    <!-- <%= f.radio_button :scope, 'Mulifamily' %>
    <%= f.label :scope, 'Mulifamily', :value => 'Mulifamily' %><br> -->
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 40vw;
        width: 50vw;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>

    <div id="map"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 6
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            window.pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };


            infoWindow.setPosition(pos);
            infoWindow.setContent('Gotcha');
            map.setCenter(pos);


          // function populateField (){

            $('#contractor_Lat').val(pos.lat);
            $('#contractor_Lng').val(pos.lng);
          // };

          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
        var geocoder = new google.maps.Geocoder();

        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });
      }
      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            resultsMap.setCenter(results[0].geometry.location);

            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
            // alert(marker["position"]);
            window.marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Sorry not able to find you for the following reason: ' + status);
          }
        });


      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqe8yyumuH7IeEjNPgHpflzULL9NnXulE&callback=initMap">
    </script>

  </body>
</html>
