<%= form_for(@contractor) do |f| %>
  <% if @contractor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contractor.errors.count, "error") %> prohibited this contractor from being saved:</h2>

      <ul>
      <% @contractor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <!-- <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div> -->
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.label :address %><br>
    <%= f.text_field :address  %>
    <input id="submit" type="button" value="Go Get Me">
  </div>

    <%= f.text_field :Lat %>


    <%= f.text_field :Lng %>


  <div class="field">
    <%= f.label "Properties Serviced" %><br>
    <%= f.check_box :scope %>
    <%= f.label :scope, 'Single Family', :value => 'Single Family' %> <br>
    <%= f.check_box :scope %>
    <%= f.label :scope, 'Duplex, Triplex, Quadraplex', :value => 'Duplex, Triplex, Quadraplex' %><br>
    <%= f.check_box :scope %>
    <%= f.label :scope, 'Multifamily', :value => 'Multifamily' %><br>
    <!-- <%= f.radio_button :scope, 'Mulifamily' %>
    <%= f.label :scope, 'Mulifamily', :value => 'Mulifamily' %><br> -->
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>

<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
      html, body {
        height: 40vw;
        width: 50vw;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>


      function initMap() {
        var latid = parseFloat(document.getElementById('contractor_Lat').value);
        var lngid = parseFloat(document.getElementById('contractor_Lng').value);
        var myLatLng = {lat: latid, lng: lngid};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hi'
        });

        var geocoder = new google.maps.Geocoder();
        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
          geocodeLatLng(geocoder, map, infowindow);
        });
      }
      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('contractor_address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            resultsMap.setCenter(results[0].geometry.location);

            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
            // alert(marker["position"].lat());
            $('#contractor_Lat').val(marker["position"].lat());
            $('#contractor_Lng').val(marker["position"].lng());

            window.marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Sorry not able to find you for the following reason: ' + status);
          }
        });



      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqe8yyumuH7IeEjNPgHpflzULL9NnXulE&callback=initMap">
    </script>
  </body>
</html>
