<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div>
    <%= f.label :address %><br>
    <%= f.text_field :address  %>
    <input id="submit" type="button" value="Go Get Me">
  </div>

  <div>
    <%= f.label :Lat %><br>
    <%= f.text_field :Lat  %>
  </div>
  <div>
    <%= f.label :Lng %><br>
    <%= f.text_field :Lng  %>
  </div>
  <!-- <div class="field">
    <%= f.label :scope %><br>
    <%= f.text_field :scope %>
  </div> -->
  <div class="field">
    <%= f.label "Property Type" %><br>
    <%= f.check_box :scope %>
    <%= f.label :scope, 'Single Family', :value => 'Single Family' %> <br>
    <%= f.check_box :scope %>
    <%= f.label :scope, 'Duplex, Triplex, Quadraplex', :value => 'Duplex, Triplex, Quadraplex' %><br>
    <%= f.check_box :scope %>
    <%= f.label :scope, 'Multifamily', :value => 'Multifamily' %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
